In [165]:
import pystan
import pandas as pd

In [166]:
sm = pystan.StanModel(file='./generator.stan')
fit = sm.sampling(data={'N': 1000}, iter=1, chains=1, algorithm="Fixed_param")

INFO:pystan:COMPILING THE C++ CODE FOR MODEL anon_model_5241c2c0b51e5e9cbff75e40ca4caef6 NOW.

In [167]:
generated_data_1 = pd.DataFrame({
    'temp': fit.extract()['temp'][0,:].tolist(), 
    'icecream': fit.extract()['icecream_sales'][0,:].tolist(), 
    'sunspot': fit.extract()['sunspot_count'][0,:].tolist()
})

In [168]:
generated_data_1.head()

        temp  icecream  sunspot
0  20.837610     281.0      3.0
1  15.166346     107.0      1.0
2  21.864140     336.0      3.0
3  20.892441     299.0      4.0
4  15.119842     120.0      0.0

In [169]:
generated_data_1.to_csv('data.csv', index=False)

In [170]:
sm = pystan.StanModel(file='./generator-without-icecream.stan')
fit = sm.sampling(data={'N': 1000}, iter=1, chains=1, algorithm="Fixed_param")

INFO:pystan:COMPILING THE C++ CODE FOR MODEL anon_model_bfff93ebb383e3bfe092702e05596409 NOW.

In [171]:
generated_data_2 = pd.DataFrame({
    'temp': fit.extract()['temp'][0,:].tolist(), 
    'icecream': fit.extract()['icecream_sales'][0,:].tolist(), 
    'sunspot': fit.extract()['sunspot_count'][0,:].tolist()
})

In [174]:
generated_data_2.tail()

          temp  icecream  sunspot
995  12.405790       0.0      1.0
996   7.999292       0.0      0.0
997  24.373922       0.0      3.0
998  18.014584       0.0      2.0
999  13.582921       0.0      0.0

In [172]:
generated_data_2.to_csv('data-without-icecream.csv', index=False)